/* about.css */

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh; /* Adjust height as needed for centering vertically */
    width: 60%;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 2%;
  }
  
  #title-name {
    font-size: 2.5rem; /* Adjust font size as needed */
    margin-bottom: 1rem; /* Adjust margin as needed */
  }
  
  #about {
    font-size: 1.8rem; /* Adjust font size as needed */
    margin-top: 1rem; /* Adjust margin as needed */
  }
  
  @media only screen and (max-width: 768px) {
   
    .about-container{
        width: 90%;
        
    }

    #about {
        font-size: 1.4rem; /* Adjust font size as needed */
       
      }
}